html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* page */
#page{
    z-index: 2;
    transition: 0.5s;
}

    /* navbar */
#header{
    padding: 50px 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav{
    width: 100%;
    float: right;
    padding: 0;
}
header nav h1{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    float: left;
    margin-top: 35px;
    margin-left: 100px;
}

h1{
    font-size: 28px;
    font-weight: 900;
    padding: 0;
}
nav ul{
    float: right;
    margin-right:65px ;
}

nav ul li{
    display: inline-block;
    position: relative;
    list-style: none;
    margin-top: 35px;
    padding: 0;
}
  nav ul li a.active {
    background:#1FB57B;
    color:white;
    text-decoration: none;
    outline: none;
    border-radius: 40px;
    
}
ul li a{
    text-decoration: none;
    outline: none;
    color:rgb(139, 139, 139);
    padding: 12px 15px;
    transition:0.2s;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
}

ul li a:hover{
    background:#1FB57B;
    border-radius: 40px;
    color:white;
}

#hamburger{
    color:#1FB57B ;
    margin-top: 26px;
}

#bolt{
    color: #1FB57B;
    padding-right: 10px;
}


nav #icon{
    display:none;
  color: white;
  font-size: 26px;
  line-height: 60px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}
nav img{
  margin-right: 15px;
  color: #1FB57B !important; 
}
@media(max-width:900px){


    nav #icon{
        display: block;
        margin-top: 5px;
    }
    nav ul{
        position: fixed;
        width: 40%;
        height: 100vh;
        background: #2f3640;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .2s;
    }
    nav li{
        display: inline-block;
        margin: 20px 55px;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: white;
    }
    ul li a:hover{
        background:#1FB57B;
        border-radius: 40px;
        color:white;
    }
    nav ul.show{
        left: 0;
        z-index: 1;
    }
  } 
  
  





/* section1  */
#section1{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 230px;
    margin-top: 3px;
    }

.section1-info{
    height: 130px;
    width:50% ;
    margin-left: auto;
    margin-top: 65px;
    margin-right: auto;
    display: block;
}

.section-info1{
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    font-size: 35px;
    color: rgba(36, 35, 35, 0.7);
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}

@media screen and (max-width:950px){
    #section1{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 330px;
        margin-top: 3px;
        }
}

@media screen and (max-width:618px){
    .section-info1  {
        font-size: 25px;
        line-height: 45px;
        color: rgba(36, 35, 35, 0.815);
    }
}




/* container */
#container1{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
   "img1 img2 img2"
   "img1 img3 img4";
    grid-column-gap:40px ;
    grid-row-gap: 20px;
    height: 500px;
    width: 80%;
    margin: auto;

}
.box1{
    background:url(assets/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: img1;
    border-radius: 5px; 
}


.box2{
    background:url(assets/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: img2;
    border-radius: 5px;
}


.box3{
    background:url(assets/bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: img3;
    border-radius: 5px;
}

.box4 {
    background:url(assets/bg4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: img4;
    border-radius: 5px;
}

@media screen and (max-width:900px){
    #container1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "img1"
    "img2"
    "img3"  
    "img4"; 
    grid-row-gap: 20px; 
    height: 1000px;
    width:100%;
    }

}




/* container2 */
#container2{
    padding: 6em;
    height: 500px;
    background:linear-gradient(45deg,#1fb57b 0%, #2f8dc8 100%);
}
.container2-1{
    height: 550px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   

}
.heading1{
    text-align: center;
    letter-spacing: 1px;
    font-size: 34px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 30px;
}
.heading2{
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    color: rgba(255,255,255,0.7);
    margin-left: 25%;
    margin-right: 25%;
    line-height: 20px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 390px;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }

.content1{
        position: relative;
        height: 400px;
        width: 350px;
        border-radius: 5px;
      }

span i{
          border: 2px solid white;
          padding: 15px ;
          border-radius: 40px;
          color: white;
      }

.con1{
        color: white;
        margin-top: 30px;
        font-size: 22px;
        letter-spacing: 1px;
      }

.con2{
        margin-top: 30px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 25px;
        font-family: 'Roboto', sans-serif;
        color: rgba(255,255,255,0.7);
    }

    
    
 @media screen and (max-width:1350px){
#container2{
    padding: 2em;
    height: 1000px;
    
}   
.container2-1{
    height: 100px;
   

}
.heading1{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}
.heading2{
    font-size: 16px;
    margin-bottom: 20px;
}

.content{
    display: block;
    height: 1190px;
    width: 100%;
    margin-top: 20px;
  }

.content1{
        display: table;
        position: relative;
        height: 200px;
        width: 100%;;
        margin-top: 20px;
      }

.con1{
        margin-top: 30px;
        font-size: 22px;

      }

.con2{
        margin-top: 30px;
        font-size: 18px;
        padding-bottom: 10px;
    }  
}
    @media (min-width:430px) and (max-width:610px){

        #container2{
            height: 1300px;
        }

    }

    @media (max-width:430px){

        #container2{
            height: 1500px;
        }

    }


    



    



/* container3 */
#container3{
    padding: 6em;
    height: 770px;
    background-color: rgba(45, 64, 89, 0.06);
}
.container3-1{
    height: 760px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading3{
    text-align: center;
    letter-spacing: 1px;
    font-size: 34px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.heading4{
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    color:#040404;
    font-family: 'Roboto', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 20px;
}

.container3-1 .content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 600px;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }

  .container3-1 .content .content1{
        position: relative;
        height: 560px;
        width: 350px;
        border: 1px solid rgb(197, 194, 194);
        box-shadow: 1px 1px 5px 0px #888888;
        background-color: white;
        border-radius: 5px;
      }

.container3-1  #content1-1{
    position: relative;
    height: 590px;
    width: 350px;
    border: 1px solid rgb(197, 194, 194);
    box-shadow: 1px 1px 5px 0px #888888;
    border-radius: 5px;
    background-color: white;
}

.container3-1  .content1 .con1{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.container3-1  #content1-1 .con1{
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.container3-1 .content1 .con2{
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

.container3-1 #content1-1 .con2{
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}


.content1 img{
height: 200px;
width: 100%;
border-radius: 5px;
}

#content1-1 img{
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

button{
    background-color: white;
    margin-top: 28px;
    color:#1FB57B;
    font-size: 15px;
    border: 2px solid #1FB57B;
    border-radius: 23px;
    padding: 12px 18px;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color:#1FB57B;
    color: white;
    cursor: pointer;
    }

    @media screen and (max-width:594px){
        button{
            margin-top: 20px;
            font-size: 12px;
            padding: 8px 14px;
        }

        .container3-1  #content1-1{
            position: relative;
            height: 560px;
            width: 350px;
          }

          .container3-1 #content1-1 .con2{
            margin-top: 0px;
            margin-left: 3px;
            margin-right: 3px;
            font-size: 14px;
        }   
    }


    @media screen and (max-width:1350px){

        #container3{
            padding: 2em;
            height: 1880px;
        }

        .heading3{
            font-size: 30px;
            margin-bottom: 15px;
        }
        .heading4{
            font-size: 16px;
            margin-bottom: 20px;
            
        }

        .container3-1 .content{
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            height: 600px;
            width: 100%;
            margin-top: 0px;
            justify-content: center;
        
          }

        .container3-1 .content .content1{
            position: relative;
            height: 480px;
            width: 100%;
            border-radius: 5px;
          }

          .container3-1  #content1-1{
            position: relative;
            height: 480px;
            width: 100%;
          }
    }

    
    



    /* container4  */
    #container4{
        padding: 6em;
        height: 500px;
        background-color: white
    }
    .container4-1{
        height: 760px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .heading5{
        text-align: center;
        letter-spacing: 1px;
        font-size: 34px;
        color: rgba(0, 0, 0, 0.7);
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .heading6{
        text-align: center;
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 50px;
        color:#040404;
        font-family: 'Roboto', sans-serif;
        margin-left: 25%;
        margin-right: 25%;
        line-height: 20px;
    }
    .container4-1 .content{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        height: 600px;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
      }


      .container4-1 .content .content1{
            position: relative;
            height: 350px;
            width: 500px;
            background-color: #f3f3f3;
            border-radius: 5px;
          }


          .container4-1   i{
              color: #999999;
              background-color: white;
              border-radius:50%;
              padding: 30px;
          }
     
              .container4-1 .content1 .con2{
              margin-top: 10px;
              margin-left: 10px;
              margin-right: 10px;
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 1px;
              line-height: 32px;
              font-family: 'Playfair Display', serif;
              color: #7c7a7a;
    }


    .container4-1 .content1 .con3{
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 0, 0, 0.884);
    }
    .container4-1 .content1 .con3 a{
        font-size: 16px;
        color:rgb(0, 174, 255);
    }

    .container4-1 .content1 .con3 .fa-google-plus-g{
        color:red;
    }


    @media screen and (max-width:1350px){

        #container4{
            padding: 2em;
            height: 1000px;
        }

        .container4-1{
            height: 760px;
            padding-left: 15px;
            padding-right: 15px;
        }
    
        .heading5{
            font-size: 30px;
            margin-bottom: 15px;
        }
        .heading6{
            font-size: 16px;
            margin-bottom: 20px;
            color:#040404;
        }
        .container4-1 .content{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            height: 600px;
            width: 100%;
            margin-top: 80px;
            justify-content: center;
          }
          .container4-1 .content .content1{
                position: relative;
                height: 300px;
                width: 100%;
              }
              .container4-1 .content .content1 i{
                  position: absolute;
                  top: -45px;
                  left: 250px;
                  padding: 30px;
              }
         
                  .container4-1 .content1 .con2{
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px;
            color: #7c7a7a;
        }
    
    
        .container4-1 .content1 .con3{
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 18px;
        }
}

@media (max-width:676px){


    #container4{
        padding: 2em;
        height: 1100px;
    }
    .container4-1 .content1 .con2{
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
    
    .container4-1 .content .content1{
        position: relative;
        height: 350px;
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 5px;
      }

}

@media  (max-width:1378px){

    .container4-1 .content .content1 i{
        position: relative;
        top: -45px;
        left: 0;
        color: #999999;
        background-color: white;
        padding: 30px;
        
    }
}


    

    /* footer */
    footer{
        padding: 6em;
        background-color: black;
        height: 500px;
    }
    

    .services{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 350px;
    border-bottom: 1px solid #8d8c8c6e;
    justify-content: center;
    }
    .services1{
    height: 380px;
    width: 250px;
    }

    .serv1-1{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Playfair Display', serif;
        line-height: 20px;
        color: rgba(255,255,255,0.8);
        margin-bottom: 40px;
    }

#ser1{
    font-size: 18px;
    line-height: 31px;
    color: #7f7f7f;
    font-family: 'Roboto', sans-serif;
}
.serv2{
    font-size: 16px;
    color: #7f7f7f;
    font-weight: 400;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}
.serv2 i{
    margin-right: 15px;
}

#bottom{
    margin-top: 50px;
    color: #7f7f7f;
    line-height: 31px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid white; */
}
.highlight{
    color: #1FB57B;
}

@media screen and (max-width:800px){
    footer{
        position: relative;
        padding: 2em;
        background-color: black;
        height: 1100px;
    }

    .services{
        display: inline-block;
        flex-wrap: wrap;
        gap: 10px;
        height: 900px;
        border-bottom: 1px solid #8d8c8c6e;
        justify-content: center;
        }

        .services1{
            height: 200px;
            width: 250px;
            margin-bottom: 30px;
            }

            .serv1-1{
                font-size: 18px;
                font-weight: 400;
                font-family: 'Playfair Display', serif;
                line-height: 20px;
                color: rgba(255,255,255,0.8);
                margin-bottom: 10px;
                    }

            #ser1{
                font-size: 18px;
                line-height: 31px;
                color: #7f7f7f;
                font-family: 'Roboto', sans-serif;
            }
                    
            .serv2{
                font-size: 16px;
                color: #7f7f7f;
                font-weight: 400;
                line-height: 35px;
                font-family: 'Roboto', sans-serif;
                    }

}



/* css end  */

